@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to the our Travel Site!</h1>
  <p>See a list of all our reviewed @Html.ActionLink("Destinations", "Index", "Destinations")</p>
</div>